<script type="text/javascript" src="/javascripts/fileUpload.js"></script>
<div id="loadingMask"></div>
<script type="text/javascript" src="/javascripts/mask.js"></script>
<div class="row col-md-8" style="margin: 20px 10px">
  <% if(operation=='add'){ %>

  <div class="box box-success">
    <div class="box-header with-border">
      <h2 class="box-title">添加会员</h3>
    </div>
    <form class="form-horizontal" role="form">

      <div class="box-body">
        <div class="form-group">
          <label class="col-xs-2 control-label" for="name">名字</label>
          <div class="col-xs-3">
            <input class="form-control" id="name" type="text" placeholder="请输入会员名" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="telephone">电话</label>
          <div class="col-xs-3">
            <input class="form-control" id="telephone" type="text" placeholder="请输入会电话" />
          </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label" for="comment">首页</label>
            <div class="col-xs-3">
              <input class="form-control" id="comment" type="text" placeholder="请输入首页" />
            </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="brandCert">商标注册</label>
          <div class="col-xs-5" id="brandCert">
           
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="brandCertImage">预览</label>
          <div class="col-xs-5" id="brandCertImage">
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="businessCert">营业执照</label>
          <div class="col-xs-5" id="businessCert">
           
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="businessCertImage">预览</label>
          <div class="col-xs-5" id="businessCertImage">
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="commCert">商会单位</label>
          <div class="col-xs-5" id="commCert">
           
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="commCertImage">预览</label>
          <div class="col-xs-5" id="commCertImage">
          </div>

        </div>
      </div>

      <div class="box-footer">
        <div class="form-group">
          <label class="col-xs-3"></label>
          <button type="button" id="addButton" style="margin-left:-10px" class="btn btn-success col-xs-2">添加</button>

        </div>
        <div id="errorHolder" class="form-group">
        </div>
      </div>
    </form>
    <!-- /.box-body -->
  </div>
  <script type="text/javascript" src="javascripts/member.add.js"></script>
  <% } else if(operation == 'modify') {%>
  <div class="box box-success">
    <div class="box-header with-border">
      <h2 class="box-title">修改会员</h3>
    </div>
    <form class="form-horizontal" role="form">

      <div class="box-body">
        <div class="form-group">

          <label class="col-xs-2 control-label" for="members">会员</label>
          <div class="col-xs-3">
            <select id="members" class="form-control selectpicker show-tick" data-live-search="true"  style="width: 100%;" tabindex="-1">
              <% members.forEach(member =>{ %>
              <option value="<%=member.Name%>"><%=member.Name%></option>
              <% }) %>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-2 control-label" for="telephone">电话</label>
          <div class="col-xs-3">
            <input class="form-control" id="telephone" type="text" placeholder="请输入会电话" />
          </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label" for="comment">首页</label>
            <div class="col-xs-3">
              <input class="form-control" id="comment" type="text" placeholder="请输入首页" />
            </div>
        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="brandCert">商标注册</label>
          <div class="col-xs-5" id="brandCert">
           
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="brandCertImage">预览</label>
          <div class="col-xs-5" id="brandCertImage">
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="businessCert">营业执照</label>
          <div class="col-xs-5" id="businessCert">
           
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="businessCertImage">预览</label>
          <div class="col-xs-5" id="businessCertImage">
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="commCert">商会单位</label>
          <div class="col-xs-5" id="commCert">
           
          </div>

        </div>
        <div class="form-group">
          <label class="col-xs-2 control-label" for="commCertImage">预览</label>
          <div class="col-xs-5" id="commCertImage">
          </div>

        </div>
      </div>

      <div class="box-footer">
        <div class="form-group">
          <label class="col-xs-3"></label>
          <button type="button" id="deleteButton" style="margin-right: 30px;margin-left: -45px;"
            class="btn btn-success col-xs-1">删除</button>
          <button type="button" disabled id="updateButton" class="btn btn-success col-xs-1">更新</button>
        </div>
        <div id="errorHolder" class="form-group">
        </div>
      </div>
    </form>
    <!-- /.box-body -->
  </div>
  <script type="text/javascript" src="javascripts/member.modify.js"></script>
  <% } %>
</div>