<div class="row col-md-8" style="margin: 20px 10px">
    <% if(operation=='generate'){ %>

    <div class="box box-success">
        <div class="box-header with-border">
            <h2 class="box-title">生成二维码数据</h3>
        </div>
        <form class="form-horizontal" role="form">

            <div class="box-body">


                <div class="form-group">
                    <label class="col-xs-2 control-label" for="startID">开始序列号</label>
                    <div class="col-xs-3">
                        <input class="form-control" id="startID" type="text" placeholder="<%=startSerialId%>"
                            disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" for="generateCount">生成个数</label>
                    <div class="col-xs-3">
                        <input class="form-control" id="generateCount" type="text" placeholder="请输入生成个数(必填)" />
                    </div>

                </div>
          
                <div class="form-group">

                    <label class="col-xs-2 control-label" for="generateMember">会员</label>
                    <div class="col-xs-3">
                        <select id="generateMember" class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                           tabindex="-1" aria-hidden="true">
                           <option value="default">请选择会员(可选)</option>
                           <% members.forEach(member =>{ %>
                            <option value="<%=member.Name%>"><%=member.Name%></option>

                           <% }) %>
                    </select>
                    </div>
                </div>

            </div>

            <div class="box-footer">
                <div class="form-group">
                    <label class="col-xs-3"></label>
                    <button type="button" id="generateButton" style="margin-left:-10px" class="btn btn-success col-xs-2">生成</button>

                </div>
                <div id="errorHolder" class="form-group">
                </div>
            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <script type="text/javascript" src="javascripts/qrcode.generate.js"></script>
    <% } %>
</div>