<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 阳澄湖大闸蟹行业协会</strong>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32050702010703"
            style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="images/back.png" style="float:left;"/ <p
                style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备
            32050702010703号</p></a>
</footer>
<div class="control-sidebar-bg"></div>